<div class="row auth">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#login">Log IN</a></li>
      <li class="tab col s6"><a  href="#register">Sign IN</a></li>

    </ul>
  </div>
  <div id="login" class="col s8 offset-s2">

    <form class="form-control z-depth-1 " action="/auth/login" method="POST">
    <h5>Log In Notebook Store</h5>
    {{#if loginError}}
      <p class="alert">{{loginError}}</p>
    {{/if}}
    <div class="input-field">
      <input type="email" name="email" id="email" class="validate" required>
      <label for="email">Your Email</label>
      <span class="helper-text" data-error="Enter  Your Email"></span>
    </div>
    <div class="input-field">
      <input type="password" name="password" id="password" class="validate" required>
      <label for="password">Your Password </label>
      <span class="helper-text" data-error="Enter Password "></span>
    </div>
    <button type="submit" class="btn btn-primary">
      Log IN
    </button>
    </form>
  </div>
  <div id="register" class="col s8 offset-s2">
    <form class="form-control z-depth-1 " action="/auth/register" method="POST">
      <h5>Create Account Now</h5>
      {{#if regError}}
        <p class="alert">{{regError}}</p>
      {{/if}}
    <div class="input-field">
      <input type="text" name="name" id="name" class="validate" required>
      <label for="name">Your Name</label>
      <span class="helper-text" data-error="Enter  Your Name"></span>
    </div>
    <div class="input-field">
      <input type="email" name="email" id="rEmail" class="validate" required>
      <label for="rEmail">Your Email</label>
      <span class="helper-text" data-error="Enter  Your Email"></span>
    </div>
    <div class="input-field">
      <input type="password" name="password" id="rPassword" class="validate" required>
      <label for="rPassword">Your Password </label>
      <span class="helper-text" data-error="Enter Password "></span>
    </div>
    <div class="input-field">
      <input type="password" name="rePassword" id="confirm" class="validate" required>
      <label for="confirm">Your Password Again </label>
      <span class="helper-text" data-error="Enter Password Again "></span>
    </div>
    <button type="submit" class="btn btn-primary">
      Sign IN
    </button>
    </form>
  </div>
</div>